@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin button-reset {
	background: none;
	border: none;
	cursor: pointer;
}

@mixin make-circle($width: auto) {
	width: $width;
	aspect-ratio: 1;
	border-radius: 50%;
}

@mixin arrow-pseudo-element {
	content: '';
	position: absolute;
	background-color: var(--clr-neutral-100);
	border-radius: var(--borr-900);
}
